<!-- Validation failure messages -->
<% if @club.errors.any? %>
  <% @club.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Club</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_club" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @club.name %>">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.order("name ASC"), :id, :name, @club.category_id), :class => "form-control") %>

        <p class="help-block">
          <a href="/categories/new">or add a new category</a>
        </p>
      </div>

      <!-- Label and input for category -->
      <!-- <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

        <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @club.category %>">
      </div> -->

      <!-- Label and input for role -->
      <!-- <div class="form-group">
        <label for="role" class="control-label">
          Role
        </label>

        <input type="text" id="role" name="role" placeholder="Role" class="form-control" value="<%= @club.role %>">
      </div> -->

      <button class="btn btn-success">
        Create Club
      </button>
      or
      <a href="/clubs">Cancel</a>
    </form>
  </div>
</div>
