<div class="page-header">
  <h3>Role #<%= @role.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @role.title %></dd>

      <dt>Eligibility</dt>
      <dd><%= @role.eligibility %></dd>

      <dt>Time commitment</dt>
      <dd><%= @role.time_commitment %></dd>

      <dt>Description</dt>
      <dd><%= @role.description %></dd>

      <dt>Available</dt>
      <dd><%= @role.available %></dd>

      <dt>Number of roles</dt>
      <dd><%= @role.clubs.count %></dd>

      <dt>Club</dt>
      <dd><%= @role.club_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roles" class="btn btn-primary">
        Back
      </a>
      <a href="/roles/<%= @role.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_role/<%= @role.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
